%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th Encrypted password
      %th Is retired
      %th capabilities
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.encrypted_password
        %td= user.is_retired
        %td= user.capabilities
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
