%h1 Transactions found
%div.initialHidden
  %table{"data-toggle" => "table", "data-locale" => "en-US", "data-search" => "true", "data-show-columns" => "true", "data-height" => "350"}
    %thead
      %tr
        %th{"data-sortable" => "true"} SKU
        %th{"data-sortable" => "true"} From
        %th{"data-sortable" => "true"} To
        %th{"data-sortable" => "true"} Qty
        %th{"data-sortable" => "true"} Timestamp
        %th{"data-sortable" => "true"} Who
    %tbody
      - @the_display_list.each do |entry|
        %tr
          %td= entry[:sku]
          %td= entry[:from]
          %td= entry[:to]
          %td= entry[:qty]
          %td= entry[:timestamp]
          %td= entry[:who]
